<div class='content-body'>
  <se-sudoku-header pageHeading='Menu' additionalClass='main-menu-header'></se-sudoku-header>
  <main class='main-content'>
    <div class='mm-container'>
      <div class='mm-menu'>
        <ul class='mm-ul'>
          <li class='mm-li'><a (click)="goToSudokuGame('/classic-game')">Sudoku Classic</a></li>
        </ul>
        <ul class='mm-ul'>
          <li class='mm-li'><a (click)="goToSudokuGame('/diagonal-game')">Sudoku Diagonal</a></li>
        </ul>
        <ul class='mm-ul'>
          <li class='mm-li'><a (click)="goToSudokuGame('/color-game')">Sudoku Color</a></li>
        </ul>
        <ul class='mm-ul'>
          <li class='mm-li'><a (click)="goToSudokuGame('/diagonal-color-game')">Sudoku Dia-Color</a></li>
        </ul>
        <ul class='mm-ul'>
          <li class='mm-li'><a routerLink='/region-game'>Sudoku Region</a></li>
        </ul>
        <ul *ngIf='authStateService.Username !== "" && authStateService.isLoggedIn' class='mm-ul'>
          <li class='mm-li'><a routerLink='/saved-games'>Load Saved Sudoku</a></li>
        </ul>
        <ul class='mm-ul'>
          <li class='mm-li'><a routerLink='/how-to-play'>How to Play</a></li>
        </ul>
      </div>
    </div>
  </main>
</div>
<se-sudoku-footer additionalClass='main-menu-footer'></se-sudoku-footer>
