@import "apps/sudoku-frontend/src/colors";

.mm-container {
  .mm-menu {
    max-width: fit-content;
    padding: 2em 3em 0 3em;
    margin: -3em auto 0 auto;
    border: 2px solid black;

    .mm-ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      padding: 0;
      text-align: center;

      .mm-li {
        font-size: 48px;
        font-weight: 100;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: normal;
        transition: transform 250ms;

        &:hover {
          text-decoration: underline 1px;
          transform: translateY(-5px);
        }

        a {
          text-decoration: none;
          color: black;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .mm-container {
    .mm-menu {
      .mm-ul {
        .mm-li {
          font-size: 38px;
        }
      }
    }
  }
}

@media only screen and (max-width: 460px) {
  .mm-container {
    .mm-menu {
      .mm-ul {
        .mm-li {
          font-size: 28px;
        }
      }
    }
  }
}
