<div class='page-container'>
  <div class='blue-rectangle'></div>
  <div class='heading-container'>
    <div class='heading-first-row-container'>
      <a routerLink=''>
        <span class='heading-chars'>DO</span>
      </a>
    </div>
    <div class='heading-second-row-container'>
      <a routerLink=''>
        <div class='heading-chars'>SU</div>
      </a>
      <div class='heading-img-container'>
        <a routerLink=''>
          <img class='heading-logo' src='../../../../assets/img/sudoku-rectangle-logo.jpg' alt='sudoku logo'>
        </a>
      </div>
      <a routerLink=''>
        <div class='heading-chars'>KU</div>
      </a>
    </div>
  </div>
  <div class='page-splitter'></div>
  <div class='login-container'>
    <h1>Login</h1>
    <div class='input-container'>
      <label>Email</label>
      <input type='email' placeholder='somebody@example.com'>
    </div>
    <div class='input-container'>
      <label>Password</label>
      <input type='password' placeholder='**************'>
    </div>
    <button (click)='login()'>Login</button>
    <span>New User? - <a><b>Create an account!</b></a></span>
  </div>

</div>

