<header class='{{additionalClass}}'>
  <div class='heading-blue-line'></div>
  <div class='heading-container'>
    <div class='heading-first-row-container'>
      <a
        *ngIf='!GAME_PAGE_URLS.includes(router.url); else DOSpan'
        routerLink=''>
        <span class='heading-chars'>DO</span>
      </a>
      <ng-template #DOSpan>
        <span class='heading-chars'>DO</span>
      </ng-template>
    </div>
    <div class='heading-second-row-container'>
      <a *ngIf='!GAME_PAGE_URLS.includes(router.url); else SUDiv' routerLink=''>
        <div class='heading-chars'>SU</div>
      </a>
      <ng-template #SUDiv>
        <div class='heading-chars'>SU</div>
      </ng-template>
      <div class='heading-img-container'>
        <a *ngIf='!GAME_PAGE_URLS.includes(router.url); else imgSpan' routerLink=''>
          <img class='heading-logo' src='../../../../assets/img/sudoku-rectangle-logo.jpg' alt='sudoku logo'>
        </a>
        <ng-template #imgSpan>
          <img class='heading-logo' src='../../../../assets/img/sudoku-rectangle-logo.jpg' alt='sudoku logo'>
        </ng-template>
      </div>
      <a *ngIf='!GAME_PAGE_URLS.includes(router.url); else KUDiv' routerLink=''>
        <div class='heading-chars'>KU</div>
      </a>
      <ng-template #KUDiv>
        <div class='heading-chars'>KU</div>
      </ng-template>
    </div>
    <div class='heading-third-row-container'>
      <span class='heading-title'>{{pageHeading}}</span>
    </div>
    <div class='single-line-heading-black-lines'>
      <hr>
    </div>
  </div>
</header>
