@import "../../../../colors";

.bottom-margin {
  margin-bottom: 90px;
}

header {
  min-width: 35em;
  padding-top: 3em;

  a {
    text-decoration: none;
  }


  .heading-blue-line {
    background: #8ac5d1;
    height: 35px;
    position: absolute;
    top: 20px;
    width: 100%;
    left: 0;
  }

  .heading-chars {
    font-size: 100px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .heading-container {
    .heading-first-row-container, .heading-second-row-container, .heading-third-row-container {
      display: flex;
      justify-content: center;
    }

    .heading-third-row-container {
      .heading-title {
        font-size: 70px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: #000;
      }

      .difficulty-title {
        font-size: 35px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: #000;
        text-transform: capitalize;
      }
    }

    .heading-img-container {
      .heading-logo {
        width: 8em;
        margin: 0 2em;
      }
    }

    .single-line-heading-black-lines hr {
      display: none;
    }
  }
}

// overwriting styling
.main-menu-header {
  .heading-title {
    background-color: white !important;
    padding: 0 1em !important;
  }
}

.single-line-heading {
  .heading-second-row-container {
    margin-top: -120px;

    .heading-img-container {
      visibility: hidden;
      margin: 0 -15px;
    }
  }

  .heading-title {
    background-color: white;
    padding: 0 30px;
  }

  .single-line-heading-black-lines {

    hr {
      display: block !important;
      margin-top: -85px;
      height: 3px;
      width: 45%;
      border-width: 0;
      background-color: black;
    }
  }
}
