<header class='{{additionalClass}}'>
  <div class='heading-blue-line'></div>
  <div class='heading-container'>
    <div class='heading-first-row-container'>
      <a routerLink=''>
        <span class='heading-chars'>DO</span>
      </a>
    </div>
    <div class='heading-second-row-container'>
      <a routerLink=''>
        <div class='heading-chars'>SU</div>
      </a>
      <div class='heading-img-container'>
        <a routerLink=''>
          <img class='heading-logo' src='../../../../assets/img/sudoku-rectangle-logo.jpg' alt='sudoku logo'>
        </a>
      </div>
      <a routerLink=''>
        <div class='heading-chars'>KU</div>
      </a>
    </div>
    <div class='heading-third-row-container'>
      <span class='heading-title'>{{pageHeading}}</span>
    </div>
    <div class='single-line-heading-black-lines'>
      <hr>
    </div>
  </div>
</header>
