@import "apps/sudoku-frontend/src/colors";

.login-banner-container {
  .login-inner-container {
    position: fixed;
    bottom: 35px;
    right: 17px;
    background: white;
    z-index: 10;

    border: 2px solid black;
    padding: 5px;
    display: flex;

    .left-column {
      margin-right: 4vw;

      .prefix-string {
        font-weight: 300;
        color: $light-grey;
      }

      .email-string {
        font-weight: 800;
      }

      .logout-button-container {
        display: flex;
        margin-top: 2px;

        .img-logout-icon {
          height: 16px;
          margin-right: 5px;
        }

        .logout-string {
          color: $light-grey;
        }

        &:hover {
          .logout-string {
            text-decoration: underline 1px;
            font-weight: 600;
            color: black;
          }

          cursor: pointer;
        }
      }
    }

    .right-column {
      margin-right: 1vw;

      .img-user-container {
        .img-user-icon {
          height: 55px;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {

  .login-banner-container {
    .login-inner-container {
      right: 1px;

      .left-column {
        margin-right: 1vw;
      }

      .right-column {
        display: none;
      }
    }
  }
}
