.login-banner-container {
  .login-inner-container {
    position: fixed;
    bottom: 10vw;
    right: 0;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    padding: 5px;
  }
}
