<div *ngIf='router.url !== ("/login") ' class='login-banner-container'>
  <div class='login-inner-container'>
    <div class='left-column'>
      <div class='prefix-string'>Logged in as</div>
      <div *ngIf='authService.Username !== ""; else unameDiv' class='email-string'>{{authService.Username}}</div>
      <ng-template #unameDiv>
        <div class='email-string'>Guest</div>
      </ng-template>
      <div class='logout-button-container' (click)='logoutButtonClicked()'>
        <img class='img-logout-icon' src='assets/svg/icon-logout.svg' alt='logout'>
        <span *ngIf='authService.Username !== ""; else loginSpan' class='logout-string'>Logout</span>
        <ng-template #loginSpan>
          <span class='logout-string'>Login</span>
        </ng-template>
      </div>
    </div>
    <div class='right-column'>
      <div class='img-user-container'>
        <img class='img-user-icon' src='assets/img/user-icon.png' alt='user icon' />
      </div>
    </div>
  </div>
</div>
