<se-sudoku-header additionalClass='single-line-heading' pageHeading='Classic'></se-sudoku-header>
<div class='main-content'>
  <div class='classic-game-container'>
    <div class='left-control-container'>
      <div class='row-control-grid'>
        <h1 class='time-heading text-align-heading'>Time</h1>
      </div>
      <div class='row-control-grid'>
        <button class='toggle-time-button' (click)='toggleTimer()'><img
          src="{{this.timerIsRunning ?'assets/img/pause_button.png'  : 'assets/img/play_button.png'}}"
          alt='toggle button' /></button>
        <div class='line-container'>
          <hr>
        </div>
      </div>
      <div class='row-control-grid'>
        <h1 class='time-string text-align-heading'>{{timeString}}</h1>
      </div>
    </div>
    <form [formGroup]='gridForm' (ngSubmit)='saveGrid()'>
      <div class='game-grid'>
        <table class='grid-table'>
          <tr class='grid-row' [ngClass]='"row-nr-" + rowIdx' *ngFor='let row of emptyGrid; let rowIdx = index'>
            <!-- only add styling classes if the indices are at specific number and don't double border on edge -->
            <td class='grid-cell' *ngFor='let cellValue of row; let colIdx = index'
                [ngClass]="{'bottom-line-cell': (rowIdx + 1) % 3 === 0  && rowIdx < 8, 'right-line-cell': (colIdx + 1) % 3 === 0 && colIdx < 8}">
              <span>
                  <input [formControlName]='"cell" + colIdx  + "" + rowIdx'
                         (focusout)='focusOutFunction()'
                         (focusin)='focusInFunction()'
                         [ngClass]='"cell" + colIdx  + "" + rowIdx'
                         (keydown)='checkKeyInput($event)'>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </form>
    <div class='right-control-container'>
      <div *ngIf='classicGameService.showAuthRequiredButtons$ | async' class='row-control-grid'>
        <div class='line-container'>
          <hr>
        </div>
        <button class='default-button save-button' (click)='saveGrid()'>
        <span class='inner-button'>
          <span class='button-text'>Save</span>
          <img src='assets/img/download-icon.png' alt='download icon' />
        </span>
        </button>
      </div>
      <div class='row-control-grid'>
        <div class='line-container'>
          <hr>
        </div>
        <mat-slide-toggle class='slide-toggle-button' checked='true' color='primary' (toggleChange)='helperSwitched()'>
          <span class='slide-toggle-button-text'>Helper Mode</span>
        </mat-slide-toggle>
      </div>
      <div class='row-control-grid'>
        <div class='line-container'>
          <hr>
        </div>
        <button class='default-button back-to-menu-button' (click)='backToMenuButtonClicked()'>
          <span class='inner-button'>
          <span class='button-text'>Back to Menu</span>
          <img src='assets/svg/mono-tab-duplicate.svg'
               alt='back arrow' /></span>
        </button>
      </div>
      <div
        *ngIf='isEveryFieldAssigned'
        class='row-control-grid'>

        <se-sudoku-finish-sudoku-button [sudokuFieldsInput]='cacheGrid'
                                        [sudokuFieldsSolution]='solvedGrid'
                                        [investedTime]='this.timeString'
                                        [sudokuId]='this.sudokuAPIData.id'>
        </se-sudoku-finish-sudoku-button>
      </div>
    </div>
  </div>
</div>
<se-sudoku-footer></se-sudoku-footer>
