// Colors
$light-blue: #8ac5d1;
$light-grey: #707070;
$red: #e70909;
$error-red: #e35656;
$lighter-blue: #c3f3ff;
$light-blue-contrast-background: #aed5e0;
$success-dark-green: #4CAF50;
$success-light-green: rgba(76, 175, 80, .5);
$confirmation-green: #77dd77;

$color-sudoku-color-1: red;
$color-sudoku-color-2: green;
$color-sudoku-color-3: yellow;
$color-sudoku-color-4: blue;
$color-sudoku-color-5: purple;
$color-sudoku-color-6: orange;
$color-sudoku-color-7: tan;
$color-sudoku-color-8: aquamarine;
$color-sudoku-color-9: grey;
