@import "colors";

// General
* {
  font-family: museo-sans, serif;
}

body {
  margin: 0;
}

p {
  font-size: 18px;
}

.main-content {
  margin: 1em 7vw 1em 7vw;
}

.footnote {
  font-weight: 100;
  font-size: 1em;
}
