<footer *ngIf="displayFooter">
  <div class='footer-container {{additionalClass}}'>
    <!--     rectangle in corner-->
    <svg class='footer-svg'>
      <rect class='footer-rect' width='200' height='20' transform='rotate(45)' />
    </svg>
    <div class='footer-navbar'>
      <div class='footer-link-container'>
        <a routerLink='/impress'>Impress</a>
      </div>
      <!-- TODO: Adjust length of separator line when menu items are all added to menu -->
      <div class='footer-sep-container'>
        <svg class='footer-sep-svg'>
          <rect class='footer-sep-rect' width='2' height='80' />
        </svg>
      </div>
      <div class='footer-link-container'>
        <a routerLink='/privacy'>Privacy</a>
      </div>
    </div>
  </div>
</footer>
