@import "../../../../colors";

:host {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: transparent;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 80px;

  .main-menu-footer {
    clear: both;
    position: sticky;
    width: 100%;
    bottom: 0;
    overflow: hidden;
  }

  .footer-container {
    .footer-svg {
      position: absolute;
      overflow: hidden;

      .footer-rect {
        fill: $light-blue
      }
    }

    .footer-navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;


      .footer-link-container {
        a {
          color: $light-grey;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .footer-sep-container {
        margin: 0 1em 0 1em;
        height: 100%;

        .footer-sep-svg {
          width: 2px;

          .footer-sep-rect {

          }
        }
      }
    }
  }
}
