<se-sudoku-header pageHeading='Impress'></se-sudoku-header>
<main class='main-content'>
  <div class='impr-container'>
    <p>This page has been developed as part of the lecture "PR: Service Engineering" at the JKU Linz, Austria.</p>
    <p>Developed by team #5:</p>
    <p><i>Marco Stadler</i><br>
    <i>Simon Vamberszky</i><br>
    <i>Daniel Waghubinger</i></p>
    <p>The project was supervised by <i>Johannes Sametinger</i></p>
    <div class='impr-jku-logo'>
      <img src='assets/img/JKU_Logo.png' alt='JKU logo'>
    </div>
    <p>JOHANNES KEPLER UNIVERSITÄT <br>
      Altenberger Straße 69<br>
      4040 Linz, Österreich<br>
      T: +43 732 2468 0<br>
      F: +43 732 2468 4929<br>
      <a href='https://www.jku.at'>www.jku.at</a></p>
  </div>
</main>
